<div class="row m-0">
  <div class="col-md-7 col-sm-12 p-0">
    <img src="/images/cover.png" alt="" class="cover">
  </div>
  <div class="col-md-5 col-sm-12 root d-flex justify-content-end flex-wrap bg-white p-0">
    <div class="m-auto">
      <div class="logo darkblue01 me-0"></div>
      <h1 class="my-5">Welcome, Admin BCR</h1>
    
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Contoh: johndee@gmail.com">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="6+ karakter">
        </div>
        <button type="submit" class="btn btn-primary text-center">Sign In</button>
      </form>
    </div>
    </div>
</div>