<div class="root container-fluid d-flex justify-content-center align-items-center">
  <div>
    <h1>404 Not Found</h1>
    <p>The page that you're looking for doesn't exist!</p>
    <a class="btn btn-sm btn-dark" href="/">Go to Sign In</a>
  </div>
</div>